.productcard{
    box-shadow: 10px;
}
.product_container,.cart{
    display : flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}
h1{
    display: flex;
    justify-content: center;
}
.detailsdiv{
    display:flex;
}
.detailsdiv > .right{
    padding-left : 130px;
    padding-top: 20px;
}
.detailsdiv{
    font-family: sans-serif;
}
.avg_price{
    display:flex;
    text-align: center;
    align-items: center;
}
.total_price{
    display:flex;
    text-align: center;
    align-items: center;
}